@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.wrapper-intro {
  display: flex;
  margin: 0 25px;
}

.thumb {
  height: 100%;
  background-color: #eef3f6;

  border-radius: 8px;
}

.thumb img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.ant-col-10 {
  margin-right: 25px;
}

.about-me {
  padding-top: 100px;
}

.about-me h2 {
  font-size: 60px;
  font-family: Poppins, sans-serif;
  color: #1f1f25;
}

.about-me p {
  font-weight: 300;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
}

.about-my-hobbies h2 {
  text-align: center;
  text-decoration: underline;
}

.hobbies {
  display: flex;
  justify-content: space-between;
}

.hobbies-image {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .wrapper-intro {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .ant-col-10 {
    margin-right: 0px;
  }

  .thumb {
    height: 500px;
  }

  .about-me {
    padding-top: 0px;
  }

  .about-me h2 {
      text-align: center;
  }

  .about-my-hobbies h2 {
    font-size: 30px;
  }

  .hobbies-image {
    width: 50px;
    height: 50px;
  }
}
