* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.App {
  height: auto;
  transition: all 0.3s ease-in-out 0s;
}

#navbar {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 3;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h3.nav_logo {
  font-size: 30px;
  color: rgb(250, 255, 250);
  cursor: pointer;

  color: #fff;
  background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);

  animation: lighting 5s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes lighting {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

img.nav_ava {
  width: 40px;
  height: 50%;
  border-radius: 50%;
}

.nav_links {
  list-style: none;
}

.nav_links > li.nav_item {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  color: black;

  transition: all .4s;
}

.nav_links li.nav_item:hover {
  color: black!important;
  background-color: white;
}

.change_mode {
  font-size: 20px;
  cursor: pointer;
  border: none;
}

#home {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hello_item {
  width: 100%;
  height: 100%;
  padding: 0 150px;
  font-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  background: linear-gradient(to right, #fefe50, #f77b85, #20ddd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello_item p > span {
  font-weight: bold;
}

.hello_item ul.social_links {
  list-style: none;
}

.hello_item ul.social_links li.social_item {
  display: inline-block;
  padding: 10px 20px;
}

.hello_item ul.social_links li.social_item > a {
  color: white;
  transition: all 0.5s;
}

.hello_item ul.social_links li.social_item > a:hover {
  color: #f77b85;
}

#about {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
}

#about .my_image,
#about .my_summary {
  width: 50%;
  height: 100%;
  padding: 20px 30px;
}

#about .my_image .wrapper_image {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 9px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about .my_image .wrapper_image > img.image {
  width: 90%;
  height: 90%;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);

  transition: all 0.3s ease-in-out 0s;
  border-radius: 10px;
}

#about .my_image .wrapper_image > img.image:hover {
  transform: translate(-50%, -50%) rotate(0deg);
}

#about .my_summary > .summary {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 10px 40px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

#project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#project .project_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#project .card-wrapper {
  width: 600px;
  height: 500px;
  position: relative;
}

#project .card-wrapper .card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;

  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);

  cursor: pointer;
  transition: 0.5s;
}

#project .card-wrapper .card .card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: 0.5s;
}

.card:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

.project_list .details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;

  width: 100%;
  height: 135px;
  z-index: 1;
  padding: 10px;
}

.project_list .details h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  color: black;
}

.project_list .details h2 .job-title {
  font-size: 30px;
  color: #333;
  font-weight: 300;
}

#skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  text-align: center;
}

.super_skills {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.super_skills ul {
  list-style: none;
  columns: 2;
  column-gap: 50px;
  margin-top: 25px;
}

.one_skill {
  width: 600px;
  height: 50px;
  line-height: 50px;
  background-color: #1d2430;
  font-size: 20px;

  border: 1px solid #4d4d4d;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.one_skill span {
  position: absolute;
  top: 0;
  left: 50px;
  color: green;
}

#skills .head_skills h1, #skills .head_skills h2 {
  font-size: 35px;
}

footer {
  width: 100%;
  height: 80px;
  margin-top: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  display: block;
  padding: 20px 25px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.mask {
  width: 100%;
  height: 30px;
}
